.logo {
  max-width: 70px;
}
:root {
  --bs-nabar-footer: #f3c178 ;
  --bs-botones: #d8f1a0;
  --bs-titulo:#Fe5e41;
  --bs-cards:#00a878;
}
.bg-nabar-footer {
  background-color: var(--bs-nabar-footer);
}

.boton{
  background-color: var(--bs-botones) ;
  border: 1px solid var(--bs-botones);
}

.tamaño{
  max-width: 700px;
  margin: auto;
}
.carousel-item img {
  height: 550px;
  object-fit: cover;
}
.comida {
  height: 70vh;
  object-fit: cover;
}
.carta{
  background-color: var(--bs-cards);
}

.ver-mas{
  background-color: var(--bs-botones) ;
  border: 1px solid var(--bs-botones);
}
.ver-mas:hover{
    background-color: var(--bs-botones);
    color: inherit;
    border-color: var(--bs-botones);
}